<header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <h3 class="float-md-start mb-0 text-dark" ><img src="/png/main1.png" width="40" style="margin-right: 10px;">Medical Connected</h3>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/pacientes" class="nav-link px-2 link-dark">Inicio</a></li>
            <li><a href="/medicamentos" class="nav-link px-2 link-dark">Medicamentos RFID</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a class="btn btn-outline-primary me-2" href="/logout">Cerrar Sesion</a>
        </div>
    </header>