<% layout('layouts/home')%>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                
                <h3 class="float-md-start mb-0 text-dark"><img src="/png/main1.png" width="40" style="margin-right: 10px;">Medical Connected</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    <a class="nav-link text-secondary" href="/register">Registro</a>
                </nav>
            </div>
        </header>

        <main class="form-signin">
            <%- include('./partials/flash')%>
            <form action="/login" method="post">
                <img class="mb-4" src="/png/main1.png" width="150">
                <h1 class="h3 mb-3 text-dark fw-normal ">Inicio de Sesion</h1>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" placeholder="username" name="username">
                    <label for="username">Nombre de Usuario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="password" name="password">
                    <label for="password">Contraseña</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mt-2 mb-5 " type="submit">Iniciar Sesion</button>
            </form>
        </main>
